<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

 

<mapper namespace="com.korea.moviereservation.mapper.MovieMapper">
 
 <insert id="insertMovie">
   insert into movie("movie_title", "movie_genre","running_time","ticket_price")
   vales(#{movieTitle},#{movieGenre},#{runningTime},#{ticketPrice});
 </insert>
 
 <select id="findMovieById" resultType="MovieVO"> 
  select * from movie
  where id=#{movieId};
 </select>
 
</mapper>