<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.korea.moviereservation.mapper.ReservationMapper">

 <insert id="insertReservation">
   insert into reservation("customer_name", "movie_id","seat_number","ticket_count","reservation_status")
   vales(#{customerName},#{movieId},#{seatNumber},#{ticketCount},#{reservationStatus});
 </insert>
 
 <update id="updateReservation">
  update reservation
  set (reservation_date = #{reservationDate},
       seat_number = #{seatNumber},
       ticket_count = #{ticketCount},
       reservation_status = #{reservationStatus}
  )
  where id = #{reservationId};
 </update>
 
 <select id="findReservationDetails" resultType="ReservationVO">
    select 
     m.movie_id, 
     m.movie_title, 
     m.movie_genre, 
     m.running_time, 
     m.ticket_price, 
     m.release_date, 
     r.reservation_id,  
     r.customer_name,
     r.movie_id,
     r.reservation_date, 
     r.seat_number,
     r.ticket_count,
     r.reservation_status, 
     m.ticket_price * r.ticket_count AS total_price
    from reservation
    inner join movie
    on r.movie_id = m.movie_id
 </select>
 
</mapper>